.tarjeta-carr-cat {
    position: relative;
}

.tarjeta-carr-cat a {
    position: relative;
    left: 0px;
    bottom: 0px;
    height: 30px;
    padding: 1rem;
    display: flex;
    width: 100px;
    top: -30px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.tarjeta-contenedor-boxinfo img {
    z-index: 99;
}

.button-boxinfo {
    background: #6200ff;
    border: #6200ff;
    z-index: 99;
    color: #ffffff;
    /* text-decoration: none!important; */
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 1rem;
}

.button-boxinfo:hover {
    background: #94fc01;
    box-shadow: 1px 1px 3px rgb(115 194 4 / 70%);
    border: solid #96ff00;
    z-index: 99;
    color: #6200ff;
    /* text-decoration: none!important; */
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 1rem;
}