/*formularios home*/
.home .jumbotron#formulario-inscripcion {
    position: relative;
    background-color: #170086;
    min-height: 30vh;
    color: #fff;
    border-radius: 0px;
    height: auto;
}
.home .formulario-campos input {
    max-width: 12rem;
    width: 30rem;
    height: 30px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 5px !important;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 2px 0 #E8E8E8;
box-shadow: 0 0 2px 0 #E8E8E8;
}

  .home input.btn-formulario {
    border-left: 1px solid #c2c2c2;

    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.home input.btn-formulario:hover{
    border: 1px solid skyblue;
   
    
}

  /*formularios home*/