.navbar-nav>li {
    position: inherit;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    position: absolute;
    float: none;
    left: 10px;
    width: 99%;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2%;
}

.dropdown:hover>.dropdown-menu li {
    width: 18%;
    float: left;
}


/*menu .menu-desplegable*/

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    display: none;
}

.dropdown-menu a.nav-link.dropdown-toggle {
    color: #535353 !important;
}

.dropdown-menu a.nav-link.dropdown-toggle:hover {
    color: #505050;
}

.imagen-mega-menu {
    width: 20% !important;
    height: 250px !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-mega-menu:after {
    content: '';
    height: 100px;
    width: 1px;
    background-color: #e2e2e2;
}

.imagen-mega-menu:nth-last-child(1):after {
    content: '';
    height: 100px;
    width: 0px;
    background-color: #e2e2e2;
}

.imagen-mega-menu a {
    font-size: 1.25rem !important;
    display: flex;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-start;
}

.imagen-mega-menu a img {
    position: relative;
    height: auto;
    width: 150px;
}


/*menu .menu-desplegable*/


/*menu mobile*/

.boton-mobile {
    background-color: transparent;
    height: 2.5em;
    padding: 0px 0px 0px 0px;
    margin-top: 1rem;
    border: 0px;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.3em;
    height: 3px;
    background-color: #fff;
    background-image: none !important;
    position: relative;
}

.navbar-toggler-icon:after {
    content: '';
    display: inline-block;
    width: 1em;
    height: 3px;
    background-color: #fff;
    background-image: none !important;
    position: absolute;
    top: 7px;
    right: 0px;
}

.navbar-toggler-icon:before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 3px;
    background-color: #fff;
    background-image: none !important;
    top: -7px;
    position: absolute;
    right: 0px;
}

.nav-mobile {
    background-color: #00bcfe;
}

.menu-menu-mobile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-menu-mobile-container ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-menu-mobile-container ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50px;
}

a:hover.nav-link:after {
    content: '';
    display: block;
    background-color: var(--color-cliente);
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    top: 100%;
    border: 0px;
    right: 0px;
}

#menu_categoria a:hover {
    color: #d10000;
}