@media ( min-width:300px) and ( max-width:993px) {
    aside#secondary {
        display: none!important;
    }
    .navbar-dark .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
        background-color: #e94b33;
    }
    /*header*/
    header {
        position: relative !important;
        z-index: 100 !important;
        width: 100% !important;
        background-color: #fff;
        text-align: center;
    }
    /*header*/
    /*Navbar*/
    .navbar-brand {
        display: flex;
        padding-top: 0rem;
        margin-right: 0rem;
        font-size: 1rem;
        line-height: inherit;
        white-space: nowrap;
        /*background-image: url('../../../../uploads/2020/09/blescom-blanco.png');*/
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .navbar-brand img {
        display: block;
    }
    .dropdown-menu {
        display: block!important;
        background-color: transparent;
        border: none;
    }
    .dropdown-menu a {
        color: #fff!important;
    }
    .dropdown-menu a.nav-link.dropdown-toggle {
        color: #fff!important;
    }
    .menu-item-has-children>a {
        font-weight: 700;
    }
    .menu-item-has-children>a:after {
        content: '';
        width: 5px;
        height: 5px;
        display: block;
        position: relative;
        left: 110px;
        top: -15px;
        transform: rotate(45deg);
        border-right: 1px solid #fff;
        border-left: 0px solid #fff;
        border-top: 0px solid #fff;
        border-bottom: 1px solid #fff;
    }
    /*carusel*/
    .carousel-caption h1 {
        font-size: 1rem;
        width: 100%;
        text-align: center;
    }
    .carousel-caption p {
        font-size: 0.8rem;
        text-align: center;
        width: 100%;
    }
    .carousel-caption {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 20rem;
    }
    /*menu pie de pagina*/
    #menu-link-de-interes {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        list-style: none;
        padding: 0px;
        margin: 0px;
        align-items: flex-start;
    }
    #menu-link-de-interes li::after {
        display: none;
    }
    .navbar-brand {
        width: 30%;
    }
    .hero-content h1 {
        font-size: 2rem;
        line-break: anywhere;
        text-align: center;
        white-space: break-spaces !important;
    }
    .botones-responsivo {
        padding: 0px;
        margin: 0px;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    header.entry-header {
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    .archive-page {
        display: flex;
        margin-bottom: 4rem;
        flex-flow: wrap-reverse;
    }
    .archive #secondary {
        margin-left: 0%;
        margin-top: 0rem;
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-flow: wrap-reverse;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    aside .widget {
        width: 40%;
    }
    aside .widget h5 {
        font-size: 0.8rem;
    }
    aside .widget:nth-last-child(3) {
        width: 80%;
    }
    .woocommerce .woocommerce-ordering {
        margin: 0 0 1em;
        width: 100%;
    }
    .woocommerce .woocommerce-ordering select {
        vertical-align: top;
        width: 100%;
    }
    .archive ul.products li.product,
    .woocommerce-page ul.products li.product {
        float: left;
        position: relative;
        width: 100% !important;
        border-radius: 10px;
        overflow: hidden;
    }
    #carrusel_ofertas.carousel {
        display: none;
    }
    .home li.product.status-publish .woocommerce-LoopProduct-link.woocommerce-loop-product__link {
        height: 440px;
    }
    .home li.product.status-publish {
        height: auto;
        width: 100%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1rem;
        border: none;
        -webkit-box-shadow: 0 0 6px 3px #b5b5b53d;
        box-shadow: 0 0 6px 3px #b5b5b53d;
        border-radius: 10px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding-bottom: 1rem;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        position: relative;
    }
    .home li.product.status-publish:hover {
        height: auto;
        width: 100%;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1rem;
        border: none;
        -webkit-box-shadow: 0 0 6px 3px #b5b5b53d;
        box-shadow: 0 0 6px 3px #b5b5b53d;
        border-radius: 10px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding-bottom: 1rem;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
        position: relative;
    }
    .single-product .product.type-product {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        justify-content: center;
        padding-left: 10%;
        padding-right: 5%;
    }
    .product-template-default.single-product.single .woocommerce-product-gallery {
        max-width: 100%;
        height: auto;
        margin-right: 0%;
        max-height: 70vh;
    }
    .single-product.single .summary.entry-summary {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0px 0px 0px 0px;
        max-width: 100%;
        width: 100%;
        border-left: 0px solid #dbdbdb;
        padding-left: 0px;
    }
    .single-product.single div.product .product_title {
        clear: none;
        margin-top: 0;
        padding: 0;
        font-weight: 900;
        font-size: 1.6rem;
    }
    .woocommerce-cart .cross-sells .products {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .menu-menu-mobile-container ul li a {
        color: #fff;
    }
    .checkout.woocommerce-checkout {
        display: flex;
        flex-direction: column;
    }
    .page.woocommerce-checkout #customer_details {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
    }
    .page.woocommerce-checkout #order_review {
        width: 100%;
        margin-left: 0%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 1px solid #efefef;
        border-radius: 10px;
        background-color: #fff;
        padding: 2% !important;
        margin-bottom: 1.5rem;
    }
    .woocommerce-checkout article {
        background-color: transparent;
        display: flex;
        border: none;
        padding: 0.5rem;
        border-radius: 10px;
    }
    .page.woocommerce-checkout header.entry-header {
        background-color: transparent;
    }
    .page.woocommerce-checkout .mini-carrito {
        opacity: 0;
    }
    .mini-carrito {
        border: none;
    }
    .single-product.single.woocommerce table.shop_attributes th {
        width: 100%;
        font-weight: 900;
        padding: 0px;
        border-top: 0;
        border-bottom: 1px dotted rgba(0, 0, 0, .1);
        margin: 0;
        line-height: 100%;
        font-family: var(--titan-title-typo);
    }
    .home aside .widget {
        width: 100%;
    }
    .home #secondary {
        display: none;
    }
    .home #banner-home {
        display: none;
    }
    .nav-mobile {
        background-color: #000;
    }
    .menu-menu-categoria-container {
        display: none;
    }
    .woocommerce-checkout .col-1 {
        max-width: 100%;
    }
    .woocommerce-checkout .col-2 {
        max-width: 100%;
    }
}