/*tipo*/

/*estilo banner */

.carousel {
    position: relative;
    height: 25.5rem;
}
.carousel-item.active, .carousel-item-next, .carousel-item-prev {
    display: flex;
}

.carousel-item {
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: flex-start;
}
.carousel-inner {
    height: 27.5rem;
}


.carousel-item:after{
    content:'hola';
    position:absolute;
    background-color:#000;
    width:100%;
    height:280px;
    filter:blur(30px);
    top:-180px;
    opacity:0.2;    
    -webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
    }

.carousel:hover .carousel-item:after{
        content:'hola';
        position:absolute;
        background-color:#000;
        width:100%;
        height:280px;
        filter:blur(40px);
        top:-180px;
        opacity:1;    
        }

        .carousel-caption {
            position: relative;
            right: 0;
            bottom: 0px;
            left: 0%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            top: 0px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            height: 25.25rem;
            width: 70%;
        }

.carousel-caption h1 {
    font-size: 2rem;
    width: 100%;
    text-align: left;
    color: #fff;
    padding-top: 3rem;
}

.carousel-caption p {
    font-size: 1rem;
    text-align: left;
    width: 100%;
}

.botones a {
    color: #fff;
    width: 15rem;
    border-radius: 100px;
}


.carousel-item img{
width:100%;	
}


/*estilo banner */
