/* clases del footer basico */
#FooterBasico h2{
    font-weight: 600;
    font-size: 22px;
}
#FooterBasico .wp-block-columns{
    margin-bottom: 0;
}
#FooterBasico .footer-logo{
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}
#FooterBasico .footer-logo .widget_nav_menu{
    margin-bottom: 5px;
}
#FooterBasico .menu-footer ul{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#FooterBasico .menu-footer li{
    margin-bottom: 10px;
}
#FooterBasico .menu-footer li a{
    font-size:13px;
    color: #ccc;
    font-weight: 600;
    transition: all 0.3s ease;
}
#FooterBasico .menu-footer a:hover{
    color: white;
}
#FooterBasico .wp-block-image .alignright{
    margin: 0;
}
#FooterBasico .footer-extra{
    border-top: 1px solid #ccc;
    padding: 35px 0;
}
#FooterBasico .menu-rrss ul{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
#FooterBasico .menu-rrss ul li i{
    font-size: 16px;
    padding: 10px;
    transition: 0.3s;
}
#FooterBasico .menu-rrss ul li i:hover{
    transform: scale(120%);
}
#FooterBasico .menu-privacidad .widget_nav_menu{
    margin-bottom: 0;
}
#FooterBasico .menu-privacidad ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}
/* clases newsletter */
.suscribe-footer .tnp-subscription-minimal form{
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    overflow: hidden;
}
.suscribe-footer .tnp-subscription-minimal .tnp-email{
    border: none;
    background-color: #D9D9D9;
}
.suscribe-footer .tnp-subscription-minimal .tnp-submit{
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid var(--color-marca-segundo);
    color: var(--color-marca-segundo);
    transition: 0.3s;
}
.suscribe-footer .tnp-subscription-minimal .tnp-submit:hover{
    background-color: var(--color-marca-cuarto);
    color: white;
}