#ModuloEntradas .tarjeta{
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
#ModuloEntradas .thumbnail{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 200px;
}
#ModuloEntradas .thumbnail img{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    object-position: center;
}
#ModuloEntradas .texto{
    padding: 20px;
}
#ModuloEntradas .texto .tarjeta-titulo{
    font-family: var(--font-fam-segundo);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
}
#ModuloEntradas .texto .subtitulo{
    color: var(--color-marca-quinto);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
#ModuloEntradas .texto .tarjeta-texto{
    font-size: 15px;
    line-height: 1.2;
}
#ModuloEntradas .boton{
    color: var(--color-marca-segundo);
    border-top: 3px solid var(--color-marca-tercero);
    margin-top: 15px;
    margin-bottom: 25px;
    transition: 0.3s;
}
#ModuloEntradas .tarjeta:hover .boton{
    border-radius: 5px;
    background-color: var(--color-marca-tercero);
    color: var(--color-marca-primero);
    padding-left: 10px;
}