#carruselSuperior .height-full{
    height: 100vh;
}
#carruselSuperior .carousel-control-prev, .carousel-control-next {
    display: none;
}
#carruselSuperior .contenedor-imagen-bg{
    align-items: unset;
}
#carruselSuperior .arrow{
    position: absolute;
    z-index: 100;
    bottom: 30px;
    max-width: 35px;
}
.arrow {
    animation: bounce 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-12px);
    }
  }